@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Architects-Daughter';
    src: url('../fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    display: block;
    margin: 0;
    background-color: #ffffff;
}

#main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 80px;
}

#restaurant-name {
    margin-top: 80px;
    line-height: 1.2;
    text-align: center;
    font-family: 'Architects-Daughter';
    font-size: 1.75em;
    color: #ddaa44;
}

#location {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    font-family: 'Roboto';
}

#hours {
    margin-top: 80px;
    font-family: 'Roboto';
}